.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: ""
  .baseline.center
    .no-procedure-presentation
      %p.simple= t('.line1')
      %p= t('.line2')
      %p= t('.line3')
